.doubleRangeContainer{
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.superRangeContainer{
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.sliderValue{
    /*border: 1px solid;*/
    width: 50px;
    text-align: center;
}
