.contentWrapper{

    /*background-color: rgba(97, 218, 251, 0.63);*/
    display: inline-flex;
    flex-direction: column;
    height: 300px;
    min-width:300px;
    justify-content: flex-start;
    align-items: center;

}
.textFieldWrapper{
    /*background-color: #e52376;*/
    height: 50px;
    min-width: 200px;
    display: flex;
    align-items: center;
    align-content: center;
}

.textFieldInEditMode{

}

.textFieldInDisplayMode{
    /*background-color: rgba(155, 86, 135, 0.56);*/

}


.buttonsContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

