.default {
    padding-left: 20px;
    background-color: lightslategrey;
    min-height: 100vh;
    color: black;
}

.dark{
    background-color: rgb(24, 15, 15);
    color: rgb(213, 201, 121)
}

.lime{
    background-color: #c1c772;
}
