.container {
    /*border: 1px solid;*/
    height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 30px;

}

.slider {
    position: relative;
    width: 200px;
}

.sliderTrack,
.sliderRange,
.sliderLeftValue,
.sliderRightValue {
    position: absolute;
}

.sliderTrack,
.sliderRange {
    border-radius: 3px;
    height: 5px;
}

.sliderTrack {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
}

.sliderTrack.dark {
    background-color: #718d8f;
}

.sliderRange {
    background-color: #79c96d;
    z-index: 2;
}

.sliderRange.dark {
    background-color: #093b09;
}

.sliderLeftValue,
.sliderRightValue {
    color: #dee2e6;
    font-size: 12px;
    margin-top: 20px;
}

.sliderLeftValue.dark,
.sliderRightValue.dark {
    color: #797981;
}

.sliderLeftValue {
    left: 6px;
}

.sliderRightValue {
    right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
}

.thumbZindex3 {
    z-index: 3;
    /*border: 1px solid;*/
}

.thumbZindex4 {
    z-index: 4;
    /*border: 1px solid;*/
}

.thumbZindex5 {
    z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

.thumb.dark::-webkit-slider-thumb {
    background-color: #696b6c;
    /*box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;*/
    box-shadow: rgb(34, 211, 27) 0px 3px 8px;

}


/* For Firefox browsers */
.thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

