
.taskContent {
    /*background-color: rgb(187, 183, 110);*/
    display: inline-flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 100px;
    align-items: center;
}

.affairsContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: dimgrey;
    padding: 10px;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 40px;
    justify-content: space-around;
}

.affair {
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.deleteButton {
    cursor:pointer;
    width: 25px;
    margin-left: 20px;
    height: 25px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

.deleteButton:hover{
    background-color: darkred;
}

.filterButton {

}

.high{
    color:darkred;
}
.low{
    color: darkgreen;
}
.middle{
    color:orange;
}

.activeFilter{
    background-color: firebrick;
}
