.componentContainer{
    height: 50px;
    display: flex;
    flex-direction: column;
}


.input{
    height: 20px;
    border-radius: 5px;
    border: 0;
    /*margin: 2px;*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.input:focus {
    outline: none;
}


.superInput {
    height: 28px;
}

.errorInput {
    border: 2px solid red;
}

.error {
    padding-left: 10px;
    color: red;
}



