.blue {
    border-bottom: 5px solid blue;
}

.column {
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*для верстки*/
    border: 2px solid black;
    height: 300px;
}

.testSpanError {
    border: 1px solid darkblue;
    height: 20px;
}









