.default {
    min-width: 60px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
}


.redButton {
    min-width: 60px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.redButton:hover {
    background-color: #f44336;
    color: white;
}

.greenButton {
    cursor: pointer;
    margin-left: 5px;
    border-radius: 5px;
    height: 22px;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    box-shadow: 3px 3px darkslategray;
}

.greenButton:hover {
    background-color: #3e8e41;
}

.greenButton:active {
    background-color: #3e8e41;
    box-shadow: 0 0 #666;
    transform: translateY(4px);
}

/*.dark {*/
/*    background-color: #5b2020;*/
/*    color: #e52376;*/
/*}*/


.dark {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    height: 40px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
}

.dark:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

.dark:active {
    outline: 0;
}

.dark:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
    .dark {
        height: 35px;
    }
}